Package: com.twizzyindy.fbnotifyclear
Name: FBNotifyClear
Depends: firmware (>= 5.0), mobilesubstrate , preferenceloader
Version: 1.2
Architecture: iphoneos-arm
Description: Clear the cached notifications from Facebook.app easily.
Maintainer: TwizzyIndy
Author: TwizzyIndy
Section: Tweaks
