Package: com.twizzyindy.fbnotifyclear
Name: FBNotifyClear
Depends: firmware (>= 5.0), mobilesubstrate , preferenceloader
Architecture: iphoneos-arm
Description: Clear the cached notifications from Facebook.app easily.
Maintainer: TwizzyIndy
Author: TwizzyIndy
Section: Tweaks
Version: 1.0.0-46
Installed-Size: 244
